<div class="center hero-unit">
	<h1>Synapster</h1>

	<h2>
		This is Synapster app home page.
	<h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>   
 <div>
 <div>
 	<a href='http://rocky-dawn-7302.herokuapp.com/static_pages/home' target='_blank'><img src="http://www.clker.com/cliparts/2/h/y/A/e/J/brain-gears-th.png" />
 </div> 