<footer class="footer">
	<small>
		<a href="http://rocky-dawn-7302.herokuapp.com/static_pages/home">Synapster</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", 	about_path %></li>
 			<li><%= link_to "Contact", 	contact_path %></li>
 			<li><a href="http://rocky-dawn-7302.herokuapp.com/static_pages/home">News</a></li>
 		</ul>
 	</nav>
</footer>	